*{
	background-color: whitesmoke;
	margin: auto;	
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
}
form {
    display: inline-block;
	border: 2px darkblue solid;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	background-color: steelblue;
}

label{
	font-size: larger;
	background-color: steelblue;
}
input{
	display: block;
}